@import "libs/variables.scss";

body{
    background:#fff;
}

a {
    color: #000 !important;
    text-decoration:none !important;
}

li {
   list-style: none !important;
}



button{
    background: #000;
    color:#fff;
    padding:10px 80px;
    border: none;
    border-radius: 5px !important;
}

.btn2{
    background:none !important; 
    border: 1px solid #000 !important; 
    color:#000 !important; 
    padding:10px 60px !important;
    font-family: $fontRegular;
    font-size: 14px !important;;
}

.active{
    font-weight: bold;
}

.menu{
    padding:20px;
    margin-top: 20px;
}

.menu__navigation > ul{
    display:flex;
    align-items:left;
    justify-content:left;

    > li {
        padding:0px 15px;
    } 
} 

.menu__logo{
    display:flex;
    align-items:center;
    justify-content:center;
} 

.menu__button{
    display:flex;
    align-items:right;
    justify-content:right;
}

.carousel{
   background:#F2F2F2;
}

.carousel__leftimage {
    text-align: left;
    img {
       width: 100%;
    }
}



.carousel__rightimage {
    text-align: right;
    img {
       width: 100%;
    }
}

.carousel__text{
    text-align: center;
    padding-top: 100px;
    

    h1{
      font-size: 52px;
      padding-bottom: 30px;
      font-family: $fontMedium;
      color: $color;
    }

    p{
      font-size: 14px;
      padding: 0px 65px 10px 65px;
      font-family: $fontRegular;
      color: $color;
    }

    button{
        font-size: 18px;
    }
}
.carousel__rightimage {
   padding-top:150px;
}

.carousel__rightimage > img {
    width:100%;
}


.publication{
    text-align: center;
    padding-top:80px;
    padding-bottom:80px;

    h1{
        font-family: $fontBold;
        font-size: 18px;
    }

    p{
        font-family: $fontRegular;
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 28%;
        padding-right: 28%;
    }

    .publication__items{
        padding-left: 15%;
        &--item{
            margin-bottom: 20px;
        }
    }
}

.feature__img{
    background: #000;
    text-align: center;
    padding:120px 150px;
    div{
      background: #fff;
      border-radius: 10px;
      margin-left:25%;
      margin-right:25%;
      padding: 30px;

      img{
          margin-left:-60px;
      }

    }
    &--right{
        div{
            background: #525252;
            img{
                margin-left:0px;
            }
        }
    }
}

.feature__text{
    background: #F2F2F2;
    div{
        padding:200px 150px 200px 150px;
        h3{
            color:#000;
            font-family: $fontBold;
            font-size: 20px;
            padding-bottom: 20px;
        }
        p{
            font-family: $fontRegular;
        }
    }
    &--left{
        background: #fff;
    }
}

.blog{
    background: #F2F2F2;
    padding-top:30px;
    padding-bottom:30px;
}
.blog__first{
    margin-left:18px;
    margin-right:18px;
}
.blog__firstleft{
    background: #222222;
    padding-top: 300px;
}

.blog__firstright{
    background: #000;
    padding-top:70px;
    padding-bottom:70px;
    div{
        padding-left:100px;
        padding-right:100px;
        label{
            color:#fff;
            font-size: 10px;
            padding-bottom:20px;
        }
        h2{
            color: #fff;
            padding-bottom:20px;
        }
        a{
            color: #fff !important;
            font-size: 14px;
        }
    }
}

.blog__item{
    background: #fff;
    padding:30px 40px;
    margin-top:30px;
    h3{
        font-family: $fontBold;
        font-weight: bold;
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 14px;
        margin-top:30px;
    }
}

.testmonials{
    text-align: center;
    padding: 50px;
    background: #fff;
    h3{
        font-size: 16px;
        font-family: $fontRegular;
    }
    img{
        margin-top:20px;
        margin-bottom:20px;
    }
    p{
        font-size: 10px;
    }
}

footer{
    background: #F2F2F2;
}

.footer__top{
    padding-top: 60px;
    padding-bottom: 60px;
    h3{
        font-weight: 300;
        span{
            font-weight: 700;
        }
    }
}

.footer__bottom{
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ddd;
    .footer__bottomlogo{
        margin-bottom:30px;
    }
    .footer__bottomtext{
        font-size: 10px;
    }
    .footer__bottomlist {
        h4{
            font-size: 12px;
            font-weight: bold;
        }
        ul > li{
          margin-left:-32px;
          font-size: 12px;
          font-weight: normal;
          line-height: 30px;
        }
    }
}

@media only screen and (max-width: 780px) {

    .menu__navigation > ul{
        display:none;
    } 
    
    .menu__logo{
        display:block;
        text-align: center;
        align-items:center;
        justify-content:center;
    } 
    
    .menu__button{
        display:block;
        text-align: center;
        align-items:center;
        margin-top:30px;
        justify-content:center;
    }
    
    .carousel__leftimage {
        text-align: center !important;
        img {
           display: block !important;
           width: 348px  !important;;
        }
    }
    
    .carousel__rightimage {
        text-align: center !important;
        img {
           display: block !important;;
           width: 348px !important;;
        }
    }

    .feature__img{
        background: #000;
        text-align: center;
        padding:120px 150px;
        div{
          background: #fff;
          border-radius: 10px;
          margin-left:20px;
          margin-right:20px;
          padding: 10px;
    
          img{
              margin-left:0px;
              width:150px
          }
    
        }
        &--right{
            div{
                background: #525252;
                img{
                    margin-left:0px;
                }
            }
        }
    }
    
    .feature__text{
        background: #F2F2F2;
        div{
            padding:20px 15px 20px 15px;
            h3{
                color:#000;
                font-family: $fontBold;
                font-size: 20px;
                padding-bottom: 20px;
            }
            p{
                font-family: $fontRegular;
            }
        }
        &--left{
            background: #fff;
        }
    }

    .footer__topright{
        button{
            width: 100%;
            margin-top: 20px;
        }
    }

    
}