body {
  background: #fff;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

button {
  background: #000;
  color: #fff;
  padding: 10px 80px;
  border: none;
  border-radius: 5px !important;
}

.btn2 {
  background: none !important;
  border: 1px solid #000 !important;
  color: #000 !important;
  padding: 10px 60px !important;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px !important;
}

.active {
  font-weight: bold;
}

.menu {
  padding: 20px;
  margin-top: 20px;
}

.menu__navigation > ul {
  display: flex;
  align-items: left;
  justify-content: left;
}
.menu__navigation > ul > li {
  padding: 0px 15px;
}

.menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__button {
  display: flex;
  align-items: right;
  justify-content: right;
}

.carousel {
  background: #F2F2F2;
}

.carousel__leftimage {
  text-align: left;
}
.carousel__leftimage img {
  width: 100%;
}

.carousel__rightimage {
  text-align: right;
}
.carousel__rightimage img {
  width: 100%;
}

.carousel__text {
  text-align: center;
  padding-top: 100px;
}
.carousel__text h1 {
  font-size: 52px;
  padding-bottom: 30px;
  font-family: "Roboto Medium", sans-serif;
  color: #000;
}
.carousel__text p {
  font-size: 14px;
  padding: 0px 65px 10px 65px;
  font-family: "Roboto Regular", sans-serif;
  color: #000;
}
.carousel__text button {
  font-size: 18px;
}

.carousel__rightimage {
  padding-top: 150px;
}

.carousel__rightimage > img {
  width: 100%;
}

.publication {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.publication h1 {
  font-family: "Roboto Bold", sans-serif;
  font-size: 18px;
}
.publication p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 28%;
  padding-right: 28%;
}
.publication .publication__items {
  padding-left: 15%;
}
.publication .publication__items--item {
  margin-bottom: 20px;
}

.feature__img {
  background: #000;
  text-align: center;
  padding: 120px 150px;
}
.feature__img div {
  background: #fff;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px;
}
.feature__img div img {
  margin-left: -60px;
}
.feature__img--right div {
  background: #525252;
}
.feature__img--right div img {
  margin-left: 0px;
}

.feature__text {
  background: #F2F2F2;
}
.feature__text div {
  padding: 200px 150px 200px 150px;
}
.feature__text div h3 {
  color: #000;
  font-family: "Roboto Bold", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}
.feature__text div p {
  font-family: "Roboto Regular", sans-serif;
}
.feature__text--left {
  background: #fff;
}

.blog {
  background: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog__first {
  margin-left: 18px;
  margin-right: 18px;
}

.blog__firstleft {
  background: #222222;
  padding-top: 300px;
}

.blog__firstright {
  background: #000;
  padding-top: 70px;
  padding-bottom: 70px;
}
.blog__firstright div {
  padding-left: 100px;
  padding-right: 100px;
}
.blog__firstright div label {
  color: #fff;
  font-size: 10px;
  padding-bottom: 20px;
}
.blog__firstright div h2 {
  color: #fff;
  padding-bottom: 20px;
}
.blog__firstright div a {
  color: #fff !important;
  font-size: 14px;
}

.blog__item {
  background: #fff;
  padding: 30px 40px;
  margin-top: 30px;
}
.blog__item h3 {
  font-family: "Roboto Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.blog__item p {
  font-size: 14px;
}
.blog__item a {
  font-size: 14px;
  margin-top: 30px;
}

.testmonials {
  text-align: center;
  padding: 50px;
  background: #fff;
}
.testmonials h3 {
  font-size: 16px;
  font-family: "Roboto Regular", sans-serif;
}
.testmonials img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.testmonials p {
  font-size: 10px;
}

footer {
  background: #F2F2F2;
}

.footer__top {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__top h3 {
  font-weight: 300;
}
.footer__top h3 span {
  font-weight: 700;
}

.footer__bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ddd;
}
.footer__bottom .footer__bottomlogo {
  margin-bottom: 30px;
}
.footer__bottom .footer__bottomtext {
  font-size: 10px;
}
.footer__bottom .footer__bottomlist h4 {
  font-size: 12px;
  font-weight: bold;
}
.footer__bottom .footer__bottomlist ul > li {
  margin-left: -32px;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
}

@media only screen and (max-width: 780px) {
  .menu__navigation > ul {
    display: none;
  }

  .menu__logo {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .menu__button {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
  }

  .carousel__leftimage {
    text-align: center !important;
  }
  .carousel__leftimage img {
    display: block !important;
    width: 348px !important;
  }

  .carousel__rightimage {
    text-align: center !important;
  }
  .carousel__rightimage img {
    display: block !important;
    width: 348px !important;
  }

  .feature__img {
    background: #000;
    text-align: center;
    padding: 120px 150px;
  }
  .feature__img div {
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }
  .feature__img div img {
    margin-left: 0px;
    width: 150px;
  }
  .feature__img--right div {
    background: #525252;
  }
  .feature__img--right div img {
    margin-left: 0px;
  }

  .feature__text {
    background: #F2F2F2;
  }
  .feature__text div {
    padding: 20px 15px 20px 15px;
  }
  .feature__text div h3 {
    color: #000;
    font-family: "Roboto Bold", sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .feature__text div p {
    font-family: "Roboto Regular", sans-serif;
  }
  .feature__text--left {
    background: #fff;
  }

  .footer__topright button {
    width: 100%;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
