$fontNormal: 'Roboto', sans-serif;
$fontThin: 'Roboto Thin', sans-serif;
$fontLight: 'Roboto Light', sans-serif;
$fontRegular: 'Roboto Regular', sans-serif;
$fontMedium: 'Roboto Medium', sans-serif;
$fontBold: 'Roboto Bold', sans-serif;
$fontBlack: 'Roboto Black', sans-serif;

$color : #000;